<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>
		<section id='story'>
			<div class='prose'>
				{{#each doc.story}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</section>

		<figure>
			<video></video>
			<figcaption></figcaption>
			<button><img inline src='play-circle.svg'></button>
		</figure>
		{{!-- <section id='player'>
			<div class='player__slide'>
				<video muted src='assets/videos/0.mp4'></video>
				<video muted src='assets/videos/1.mp4'></video>
				<video muted src='assets/videos/2.mp4'></video>
				<video muted src='assets/videos/3.mp4'></video>
			</div>
			<div class='player__controls'>
				<button class='button--prev'><img inline src='chevron-left.svg'></button>
				<button class='button--next'><img inline src='chevron-right.svg'></button>
			</div>
		</section> --}}




		<section id='credits'>
			<div class='prose'>
				<p class='credits__byline'>A story by
					<a href='{{meta.author.url}}' target='_blank'>{{meta.author.name}}</a> and <a href='{{meta.author2.url}}'
						target='_blank'>{{meta.author2.name}}</a>. It was published in April, 2019.
				</p>
			</div>
		</section>

		<section id='method'>
			<div class='prose'>
				<p><strong>Data and Methods</strong></p>
				{{#each doc.method}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</section>
	</main>

	{{> base/footer }}


	<script src='{{basepath}}assets/scripts/d3.v5.9.1.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>