<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>
		<section id='intro'>
			<div class='prose'>
				{{#each doc.intro}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</section>

		<figure>
			<video></video>
			<div class='figure__options'>
				<button class='button--rewind' alt='rewind 10 seconds'><img inline src='rewind.svg'></button>
				<button class='button--caption' alt='closed captions'>CC</button>
				<button class='button--volume is-on' alt='volume'><img inline src='volume-2.svg'></button>
			</div>
			<figcaption></figcaption>
			<button class='button--play'>
				<img inline src='play-circle.svg'>
			</button>
			<button class='button--pause is-hidden'>
				<img inline src='pause-circle.svg'>
			</button>
			<p class='figure__warning'>This video has audio <img inline src='headphones.svg'></p>
			<time></time>
		</figure>


		<section id='takeaways'>
			<div class='prose'>
				<p><strong>{{doc.takeawaysHed}}</strong></p>
				<ul>
					{{#each doc.takeaways}}
					<li>
						{{{this}}}
					</li>
					{{/each}}
				</ul>
			</div>
		</section>

		<section id='credits'>
			<div class='prose'>
				<p class='credits__byline'>A video by
					<a href='{{meta.author.url}}' target='_blank'>{{meta.author.name}}</a>, <a href='{{meta.author2.url}}'
						target='_blank'>{{meta.author2.name}}</a>, and <a href='{{meta.author3.url}}'
						target='_blank'>{{meta.author3.name}}</a>. It was published on May 1, 2019.
				</p>
			</div>
		</section>

		<section id='method'>
			<div class='prose'>
				<p><strong>Data and Methods</strong></p>
				{{#each doc.method}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</section>
	</main>

	{{> base/footer }}


	<script src='{{basepath}}assets/scripts/d3.v5.9.1.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>